{{extend 'layout.html'}}
<h1>These are all of the contacts we have in the persons table</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Company ID</th>
        <th>Work Phone Number</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Contact Type</th>
        <th>Referral Source</th>
        <th>Employee ID</th>
        <th>Created on Date</th>
    </tr>
    {{for x in rows:}}
    <tr>
        <td><a href="/{{=request.application}}/{{=request.controller}}/update/{{=x.id}}">{{=x.last_name}},{{=x.first_name}}</a></td>
        <td>{{=x.co_id}}</td>
        <td>{{=x.work_phone_num}}</td>
        <td>{{=x.email}}</td>
        <td>{{=x.birthday}}</td>
        <td>{{=x.contact_type}}</td>
        <td>{{=x.referral_source}}</td>
        <td>{{=x.employee_id}}</td>
        <td>{{=x.created_on_date}}</td>
    </tr>
    {{ pass }}
</table>