{{extend 'layout.html'}}
<h1>Companies Table</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Company Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>ZIP Code</th>
        <th>SIC Code</th>
        <th>Website Link</th>
    </tr>
    {{for x in rows:}}
    <tr>
        <td><!--<a href="/{{=request.application}}/{{=request.controller}}/update/{{=x.id}}">-->{{=x.company_name}}</a></td>
        <td>{{=x.address}}</td>
        <td>{{=x.city}}</td>
        <td>{{=x.state_abbr}}</td>
        <td>{{=x.zipcode}}</td>
        <td>{{=x.sic_code}}</td>
        <td>{{=x.s_media_link}}</td>
    </tr>
    {{ pass }}
</table>