{{extend 'layout_new.html'}}
{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: dark grey; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 style="font-family:Copperplate; font-size:75px; color:red;"><em>In The Vault</em></h1>
  </div>
</div>
{{end}}
    <body style="background-color:light grey;">
<h2 style="text-align:center; font-family:Copperplate"><em>Our Purpose</em></h2>
<div>
        <img src="../static/images/fallout.jpg" style="width:50%; margin-left:385px;">
        <p style="text-align:center; padding-top:20px; font-family:Courier New; font-size:15px; color:black;">
           <em> "Bridging the half-life gap between what's left of any real food".</em>
        </p>
    </div>
    <br>
    <section>
        <p style="font-family:Bradley Hand; font-size:20px; color:red;">
            In the bleak aftermath of an unfathomable catastrophe, an unlikely beacon of hope emerged in the form of a post-apocalyptic restaurant business known as "Scavenger's Table." Located amidst the ruins of what was once a bustling city, this culinary oasis defied the desolation that surrounded it. Scavenger's Table embraced the spirit of resourcefulness, sourcing ingredients from the remnants of a ravaged world. Mutant plants and unconventional protein sources found their way onto plates, transformed into delectable and unexpected creations that pushed the boundaries of traditional cuisine.

Inside Scavenger's Table, the atmosphere was a juxtaposition of rugged charm and faded elegance. Patrons, adorned in tattered clothing, gathered around repurposed tables fashioned from scavenged materials. Soft candlelight flickered, casting a warm glow on the worn wooden floors, while the sounds of clinking cutlery and murmured conversations echoed through the space. It was a place where survivors could momentarily forget the harsh realities of their existence and find solace in the comfort of a shared meal.

The passionate chefs of Scavenger's Table, masters of culinary ingenuity, skillfully combined meager ingredients into culinary delights that surpassed expectations. They transformed scarcity into abundance, crafting dishes that tantalized the taste buds and ignited the imagination. Each bite served as a reminder that amidst the chaos, beauty and creativity could still thrive, and that even in the face of adversity, the power of food had the ability to nourish not only the body but also the spirit.
        </p>
    </section>
