{{extend 'layout_new.html'}}
<section class="w-75 mx-auto">
  <h2 class="mx-auto my-4 w-75">About Us</h2>
  <div class=" w-75 mx-auto border-top border-right border-info p-4">
    <img class="img-fluid w-50 d-block rounded mx-auto" src="{{=URL('static/images','fallout.jpeg')}}"/>
    <p class="text-center font-italic mt-2 mb-0">
      "Bridging the half-life gap between what's left of any real food".
    </p>
  </div>
  <div class="w-75 mx-auto border-top border-left border-info">
  <p class="mx-auto text-justify p-4">
    In the bleak aftermath of an unfathomable catastrophe, an unlikely beacon of
    hope emerged in the form of a post-apocalyptic restaurant business known as
    "Scavenger's Table." Located amidst the ruins of what was once a bustling
    city, this culinary oasis defied the desolation that surrounded it.
    Scavenger's Table embraced the spirit of resourcefulness, sourcing
    ingredients from the remnants of a ravaged world. Mutant plants and
    unconventional protein sources found their way onto plates, transformed into
    delectable and unexpected creations that pushed the boundaries of
    traditional cuisine.

    Inside Scavenger's Table, the atmosphere was a juxtaposition of rugged charm
    and faded elegance. Patrons, adorned in tattered clothing, gathered around
    repurposed tables fashioned from scavenged materials. Soft candlelight
    flickered, casting a warm glow on the worn wooden floors, while the sounds
    of clinking cutlery and murmured conversations echoed through the space. It
    was a place where survivors could momentarily forget the harsh realities of
    their existence and find solace in the comfort of a shared meal.

    The passionate chefs of Scavenger's Table, masters of culinary ingenuity,
    skillfully combined meager ingredients into culinary delights that surpassed
    expectations. They transformed scarcity into abundance, crafting dishes that
    tantalized the taste buds and ignited the imagination. Each bite served as a
    reminder that amidst the chaos, beauty and creativity could still thrive,
    and that even in the face of adversity, the power of food had the ability to
    nourish not only the body but also the spirit.
  </p>
</div>
</section>
