{{extend 'layout_new.html'}}
<section class="w-75 mx-auto my-3">
<h2 class="display-4">Explore Our Catalog</h2>
<div class="tableDiv">
<table class="table table-striped table-hover table-sm border border-info" id="catalogTable">
    <tr>
        <th class="th-sm">
          <button
            class="btn btn-info"
            id="productName"
            onclick="sortTable(this)"
            style="font-weight:bold;"
          >
            Product Name
          </button></th>
        <th>Description</th>
        <th><button class="btn btn-info" id="itemPrice" onclick="sortTable(this)" style="font-weight:bold;">Price (ß)</button></th>
        <th><button class="btn btn-info" id="categoryID" onclick="sortTable(this)" style="font-weight: bold;">Category</button></th>
        <th>Mass (kg)</th>
        <th>Shelf Life (years)</th>
        <th>Ingredient List</th>
        <th>Allergens</th>
        <th>Image</th>
    </tr>
    {{for x in rows:}}
    {{if x.catalogs.id <= 15:}}
    <tr class="catalog-row">
    {{else:}}
    <tr class="catalog-row" hidden aria-hidden="true">
    {{pass}}
        <td>{{=x.catalogs.product_name}}</a></td>
        <td>{{=x.catalogs.description}}</td>
        <td>{{=x.catalogs.price}}</td>
        <td>{{=x.catalogs.category}}</td>
        <td>{{=x.catalogs.mass_kg}}</td>
        <td>{{=x.catalogs.shelf_life_yrs}}</td>
        <td>{{=x.catalogs.ingredient_list}}</td>
        <td>{{=x.catalogs.allergens}}</td>
        <td><img width="245" src="{{=URL('download', args=[x.product_images.pic_file])}}" alt="{{=x.product_images.image_name}}"></td>
    </tr>
    {{ pass }}
</table>
</div>

<nav class="my-4 mx-auto w-75" aria-label="Product Page Navigation">
    <ul class="pagination justify-content-center">
        {{for x in range(len(rows)):}}
        {{if x % 15 == 0:}}
      <li class="page-item border-info"><a class="page-link text-info" href="#" onclick="changePage(this)">{{=(x // 15) + 1}}</a></li>
      {{pass}}
      {{pass}}
    </ul>
  </nav>
</section>

{{block page_js}}
<script>
    function sortTable(button) {
        let table, rows, switching, i, x, y, shouldSwitch, cellIndex, ascending, isDate;
        isDate = false;
        if (button.id == "productName"){
            cellIndex = 0;
            table = document.getElementById("catalogTable");
            if (button.innerHTML == "Product Name" || button.innerHTML == "Product Name ˇ"){
            ascending = true;
            button.innerHTML = "Product Name ^";
            } else {
            ascending = false;
            button.innerHTML = "Product Name ˇ"
            }
        } else if (button.id == "categoryID"){
            cellIndex = 3;
            table = document.getElementById("catalogTable");
            if (button.innerHTML == "Category" || button.innerHTML == "Category ˇ"){
            ascending = true;
            button.innerHTML = "Category ^";
            } else {
            ascending = false;
            button.innerHTML = "Category ˇ"
            }
        } else if (button.id == "itemPrice"){
            cellIndex = 2;
            table = document.getElementById("catalogTable");
            if (button.innerHTML == "Price (ß)" || button.innerHTML == "Price (ß) ˇ"){
            ascending = true;
            button.innerHTML = "Price (ß) ^";
            } else {
            ascending = false;
            button.innerHTML = "Price (ß) ˇ"
            }
        } else {
          return;
        }
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first ones, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        if (rows[i].getElementsByTagName("td")[cellIndex].children.length >= 1){
            x = rows[i].getElementsByTagName("td")[cellIndex].children[0];
            y = rows[i + 1].getElementsByTagName("td")[cellIndex].children[0];
        } else {
            x = rows[i].getElementsByTagName("td")[cellIndex];
            y = rows[i + 1].getElementsByTagName("td")[cellIndex];
        }
        // Check if the two rows should switch place:
        if (ascending == true){
            if (isNaN(x.innerHTML)){
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            } else {
                if (parseInt(x.innerHTML) > parseInt(y.innerHTML)){
                    shouldSwitch = true;
                    break;
                }
            }
        } else {
            if (isNaN(x.innerHTML)){
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            } else {
                if (parseInt(x.innerHTML) < parseInt(y.innerHTML)){
                    shouldSwitch = true;
                    break;
                }
            }
        }
        }
        if (ascending == true){
        if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
        } else {
        if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i + 1].after(rows[i]);
            switching = true;
        }
        }
    }
    }

    // THIS WORKS THE PAGINATION ON PRODUCT PAGE
    const catalogRows = document.getElementsByClassName("catalog-row");
    const displayRows = 15;
    
    
    
    function changePage(pageLink) {
        let pageNum = parseInt(pageLink.textContent);
        let start = ((pageNum - 1) * displayRows)
        let productsDisplay = Array.from({length: displayRows}, (value, index) => 
             start + index
        )
        console.log(productsDisplay); 
        for(i = 0; i < catalogRows.length; i++){
            if (productsDisplay.includes(i)){
                catalogRows[i].hidden = false;
            } else {
                catalogRows[i].hidden = true;
            }
        }
    }



</script>
{{end page_js}}