{{extend 'layout_new.html'}}
{{import json}}
<header class="container-fluid dashboardHeader bg-info text-white p-5">
    <h2 class="display-4 w-75 mx-auto text-center">Explore Our Catalog</h2>
  </header>

<main class="row w-75 mx-auto">
    <div class="col-xl-2 mr-1">
        <form action="{{=URL('default_cram','catalog_sort')}}" method="post">
            <div class="my-1 border-bottom border-info">
                <h3>Filters</h3>
            </div>
            <div class="my-1 border-bottom border-info">
                <h4 style="font-size: 1.25rem;">Sort by:</h4>
            </div>
            <div class="my-3">
                <select class="w-100" name="sortBy" id="sortBy">
                    <option value="aToZ" selected>Name A - Z</option>
                    <option value="zToA">Name Z - A</option>
                    <option value="lowToHigh">Price Low - High</option>
                    <option value="highToLow">Price High - Low</option>
                </select>
            </div>
            <div class="my-1 border-bottom border-info">
                <h4 style="font-size: 1.25rem;">Category</h4>
            </div>
            <div class="my-2">
                <label class="w-100" for="grains"><input type="checkbox" name="grains" id="grains"> Grains</label>
                <label class="w-100" for="meats"><input type="checkbox" name="meats" id="meats"> Meats</label>
                <label class="w-100" for="beverages"><input type="checkbox" name="beverages" id="beverages"> Beverages</label>
                <label class="w-100 text-truncate" for="fruitsAndVegetables"><input type="checkbox" name="fruitsAndVegetables" id="fruitsAndVegetables"> Fruits and Vegetables</label>
            </div>
        </form>
    </div>
    <div class="col-lg-9 border-left border-top">
        {{for i in range(len(sql)):}}
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 py-2">
                <img class="img-fluid" style="max-width: 10rem;" src="{{=URL('download', args=[sql[i]['pic_file']])}}" alt="{{=sql[i]['image_name']}}" title="{{sql[i]['product_name']}}">
            </div>
            <div class="col-lg-4 my-auto">
                <h4 style="font-size: 1.25rem;"><a class="" href="{{=URL('default_cram', 'product_page', args=[sql[i]['id']])}}">{{=sql[i]['product_name']}}</a></h4>
                <p>ß{{=sql[i]['price']}}</p>
                <p>Shelf Life: {{=sql[i]['shelf_life_yrs']}} yrs</p>
            </div>
            <div class="col-lg-2 my-auto mx-auto">
                <a href="{{=URL('default_cram', 'product_page', args=[sql[i]['id']])}}" type="button" class="btn btn-info">More Info</a>
            </div>
        </div>
        {{pass}}
    </div>
    <nav class="my-4 mx-auto w-75" aria-label="Product Page Navigation">
        <ul class="pagination justify-content-center">
            {{for x in range(pages_total):}}
            {{if x % 15 == 0:}}
          <li class="page-item border-info"><a class="page-link text-info" href="{{=URL('default_cram', 'catalog_pages', args = [(x // 15) + 1], vars=request.vars)}}">{{=(x // 15) + 1}}</a></li>
          {{pass}}
          {{pass}}
        </ul>
      </nav>

{{if request.vars.filters:}}
<p id="filters" hidden>{{=request.vars.filters}}</p>
{{pass}}
</main>


{{block page_js}}
<script>

    document.getElementsByTagName("form")[0].addEventListener("change", function () {
        this.submit();
    })

    {{if request.vars.filters:}}
        let filters = JSON.parse(`${document.getElementById("filters").textContent}`)
        // console.log(filters)
        // console.log(Object.keys(filters[0]))
        for (i = 0; i < filters.length; i++){
            let key = Object.keys(filters[i]);
            let id = document.getElementById(key);
            if (id.type == "checkbox") {
                id.checked = true;
            } else if (id.type == "select-one") {
                // console.log("select-one");
                for (j = 0; j < id.options.length; j++){
                    // console.log("looping over options");
                    // console.log(Object.values(filters[i]));
                    if (id.options[j].value == Object.values(filters[i])) {
                        id.options[j].selected = true;
                        // console.log("new option displayed");
                    } else {
                        id.options[j].selected = false;
                    }
                } 
            } else {
                continue;
            }
        }   
    {{pass}}

    {{if request.args:}}
        let highlightPage = document.getElementsByClassName("page-item")
        highlightPage[{{=int(request.args[0]) - 1}}].children[0].classList = "page-link text-white bg-info";
    {{pass}}












    function sortTable(button) {
        let table, rows, switching, i, x, y, shouldSwitch, cellIndex, ascending, isDate;
        isDate = false;
        if (button.id == "productName"){
            cellIndex = 0;
            table = document.getElementById("catalogTable");
            if (button.innerHTML == "Product Name" || button.innerHTML == "Product Name ˇ"){
            ascending = true;
            button.innerHTML = "Product Name ^";
            } else {
            ascending = false;
            button.innerHTML = "Product Name ˇ"
            }
        } else if (button.id == "categoryID"){
            cellIndex = 3;
            table = document.getElementById("catalogTable");
            if (button.innerHTML == "Category" || button.innerHTML == "Category ˇ"){
            ascending = true;
            button.innerHTML = "Category ^";
            } else {
            ascending = false;
            button.innerHTML = "Category ˇ"
            }
        } else if (button.id == "itemPrice"){
            cellIndex = 2;
            table = document.getElementById("catalogTable");
            if (button.innerHTML == "Price (ß)" || button.innerHTML == "Price (ß) ˇ"){
            ascending = true;
            button.innerHTML = "Price (ß) ^";
            } else {
            ascending = false;
            button.innerHTML = "Price (ß) ˇ"
            }
        } else {
          return;
        }
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first ones, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        if (rows[i].getElementsByTagName("td")[cellIndex].children.length >= 1){
            x = rows[i].getElementsByTagName("td")[cellIndex].children[0];
            y = rows[i + 1].getElementsByTagName("td")[cellIndex].children[0];
        } else {
            x = rows[i].getElementsByTagName("td")[cellIndex];
            y = rows[i + 1].getElementsByTagName("td")[cellIndex];
        }
        // Check if the two rows should switch place:
        if (ascending == true){
            if (isNaN(x.innerHTML)){
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            } else {
                if (parseInt(x.innerHTML) > parseInt(y.innerHTML)){
                    shouldSwitch = true;
                    break;
                }
            }
        } else {
            if (isNaN(x.innerHTML)){
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            } else {
                if (parseInt(x.innerHTML) < parseInt(y.innerHTML)){
                    shouldSwitch = true;
                    break;
                }
            }
        }
        }
        if (ascending == true){
        if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
        } else {
        if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i + 1].after(rows[i]);
            switching = true;
        }
        }
    }
    }

    // THIS WORKS THE PAGINATION ON PRODUCT PAGE
    const catalogRows = document.getElementsByClassName("catalog-row");
    const displayRows = 15;
    
    
    
    function changePage(pageLink) {
        let pageNum = parseInt(pageLink.textContent);
        let start = ((pageNum - 1) * displayRows)
        let productsDisplay = Array.from({length: displayRows}, (value, index) => 
             start + index
        )
        console.log(productsDisplay); 
        for(i = 0; i < catalogRows.length; i++){
            if (productsDisplay.includes(i)){
                catalogRows[i].hidden = false;
            } else {
                catalogRows[i].hidden = true;
            }
        }
    }



</script>
{{end page_js}}