{{extend 'layout_new.html'}}
{{if not auth.user:}}
<div id="carouselIndicators" class="carousel slide w-75 mx-auto pt-3" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{=URL('static/images', 'DystopianLandscape01.jpeg')}}" alt="DystopianLandscape1.jpeg">
        <div class="carousel-caption">
          <h3>Our Mission</h3>
          <p>"At PERT, our mission is to nourish the dystopian world with innovative and sustainable food solutions. We are committed to providing accessible and nutritious sustenance that transcends the harsh realities of our time. Through cutting-edge technology and relentless creativity, we strive to revolutionize the way people perceive and consume food in the dystopian era. With a focus on resource efficiency, environmental stewardship, and ethical practices, we aim to empower individuals to thrive amidst the challenges of their dystopian existence. PERT: Fueling resilience, sustenance, and hope in a world veiled by darkness."</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" href="PERTSustainability.html" src="{{=URL('static/images', 'DystopianLandscape02.jpeg')}}" alt="DystopianLandscape02.jpeg">
        <div class="carousel-caption">
          <h3>Sustainability</h3>
          <p>"At PERT, we deeply believe in the power of sustainability. We understand that the choices we make today shape the world we'll inherit tomorrow. That's why we are committed to integrating sustainable practices into every aspect of our operations. From sourcing ethically and locally grown ingredients to minimizing waste through innovative production methods, sustainability is at the core of our business.

            We strive to reduce our environmental footprint by implementing energy-efficient technologies, optimizing packaging materials, and supporting renewable energy sources. Our commitment extends beyond our products to the communities we serve, as we actively engage in initiatives that promote environmental education and conservation.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" href="PERTCareers.html" src="{{=URL('static/images', 'Dystopianlandscape03.jpeg')}}" alt="DystopianLandscape03.jpeg">
        <div class="carousel-caption">
          <h3>Careers</h3>
          <p>"At PERT, we believe that our greatest asset is our people. We foster a dynamic and inclusive work environment where individuals are valued, empowered, and inspired to reach their full potential. We are not just a company; we are a community of passionate individuals driven by a shared vision.

            When you join PERT, you become part of a team that embraces innovation, creativity, and collaboration. We encourage a culture of continuous learning and personal growth, providing opportunities for professional development and advancement. We believe in investing in our employees, nurturing their talents, and supporting their aspirations.

            As a Dystopian Food Company, we recognize the challenges and uncertainties of our world. However, we see these challenges as opportunities to make a meaningful impact. We are constantly pushing the boundaries, seeking individuals who are bold, resilient, and forward-thinking. Together, we strive to create a future where food sustainability and innovation coexist.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {{else:}}
  <!--    BELOW WILL APPEAR ONCE AN EMPLOYEE IS LOGGED IN    -->
  <header class="container-fluid dashboardHeader bg-info text-white p-5">
    <h2 class="display-4 w-75 mx-auto text-center">State of the Company</h2>
  </header>
  <section class="w-75 mx-auto mt-2 mb-4">
    <!--    WELCOME TO LATEST CUSTOMER     -->
    <div class="row border-right border-info d-flex justify-content-around">
      <div class="col-lg-8 my-auto pl-5">
        <h3 class="">Welcome,</h3>
        <p class=""><span class="font-weight-bold">{{=recent_customer[0]['first_name']}}
            {{=recent_customer[0]['last_name']}}</span>
          from <span class="font-weight-bold text-justify">{{=recent_customer[0]['company_name']}}</span> in <span
            class="font-weight-bold">{{=recent_customer[0]['state_name']}}</span> as our latest partner here at Pert.</p>
        <p class="text-justify">Remember, we value the commitment of our sales team to reach out to new partners. The loyalty is
          forged in the crucible of chaos, and is now a currency more valuable than the credits of the past. Each new
          partner means that we can stitch together this tattered country.</p>
      </div>
      <div class="detail-image col-lg-4 my-auto">
        <img id="companyLogo" class="img-fluid p-4" src="{{=URL('static','images/toxic_taters_logo.png')}}" alt="toxic_taters_logo.png created by hotpot.ai/art-generator" />
      </div>
    </div>
    <!--    PLOTLY MAP OF WHERE PERT HAS CUSTOMERS -->
    <figure class="row border-left border-top border-info d-flex justify-content-around">
      <div class="col-lg-3 my-auto">
        <figcaption class="py-2 text-justify">We have expanded to the major collectives throughout the country.  However, <span class="font-weight-bold">Indiana</span> remains a holdout.  We should send a few sales reps into this state to find new partners.</figcaption>
      </div>
      <div class="col-lg-8">
        <div id="choroplethDiv" class="mx-auto"><!-- Plotly choropleth will be drawn here --></div>
      </div>
    </figure>
      
    <!--    PLOSTLY BAR CHART OF ACCOUNTS PER EMPLOYEE -->
    <figure class="row border-right border-top border-info d-flex justify-content-around">
      <div class="col-lg-3 my-auto">
        <figcaption class="py-2 text-justify">We always appreciate the diligence of our sales team.  Congratulations to <span class="font-weight-bold">{{=emp_with_most_customers[0]['first_name']}} {{=emp_with_most_customers[0]['last_name']}}</span>.  They are currently interacting the with most accounts.</figcaption>
      </div>
      <div class="col-lg-8 mx-auto">
      <div id='employeeBarChart' class=""><!-- Plotly bar chart will be drawn here --></div>
    </div>
  </figure>  


  <!--    needed to make arrays of some of the data from the list -->
  <p id="stateNames" hidden></p>
  <p id="stateAbbr" hidden></p>
  <p id="employeeNames" hidden></p>
</section>
  {{block page_js}}
  <script>
  //    CHOROPLETH CHART USING THE STATE DATA
    {{ for state in state_name:}}
       document.getElementById("stateNames").textContent += `{{=state}}, `;
    {{pass}}
    let stateNames = document.getElementById("stateNames").textContent.split(", ");

    {{ for abbr in state_abbr:}}
       document.getElementById("stateAbbr").textContent += `{{=abbr}}, `;
    {{pass}}
    let stateAbbr = document.getElementById("stateAbbr").textContent.split(", ");

  let choroData = [{
    type: 'choropleth',
    locationmode: 'USA-states',
    locations: stateAbbr,
    z: {{=state_count}},
    text: stateNames,
    colorscale: [
      [1.0, '#16A2B8'],[0.9, '#1490A4'],[0.8, '#117E8F'],[0.7, '#0F6C7B'],[0.6, '#0C5A66'],
      [0.5, '#0A4852'],[0.4, '#07363D'],[0.3, '#052429'],[0.2, '#021214'],[0.0, '#000000']
    ].reverse(),
    zauto: true,
    colorbar: {
      title: {
      text: 'Accounts per State',
      font: {
        size: 12
      }
    },  
      thickness: 5
    }
  }];





  let choroLayout = {
    title: 'Our Partners Across the USA',
    geo: {
      scope: 'usa',
      countrycolor: 'rgb(255,255,255)',
      showland: true,
      landcolor: '#ddd',
      showlakes: true,
      lakecolor: 'rgb(255,255,255)',
      subunitcolor: 'rgb(255,255,255)',
      lonaxis: {},
      lataxis: {}
    },
    modebar:{
      remove: [
        'lasso',
        'toImage',
        'select'
      ]
    }
  };

  Plotly.newPlot("choroplethDiv", choroData, choroLayout, {showlink: false});




  //    CREATES THE CUSTOMER PER EMPLOYEE CHART
  {{ for employee in cc_employee_names:}}
       document.getElementById("employeeNames").textContent += `{{=employee}}, `;
    {{pass}}
    let employeeNames = document.getElementById("employeeNames").textContent.split(", ");

  function createBarColors(arr) {
    let colorArray = [];
    console.log(Math.max(arr));
    for (i = 0; i < arr.length; i++){
      if (Math.max(...arr) == arr[i]){
        colorArray.push('#17a2b8');
      } else {
        colorArray.push('#ddd')
      }
    }
    return colorArray;
  }

  console.log({{=cc_customer_counts}});

  var empData = [{
    y: {{=cc_customer_counts}},
    x: employeeNames,
    type: 'bar',
    marker: {
      color: createBarColors({{=cc_customer_counts}}),
      line: {
        color: createBarColors({{=cc_customer_counts}}),
      }
    },
  }];

  var empLayout = {
    title: {
      text: "Accounts Per Employee"
    },
    height: 500,
    width: 500,
    xaxis: {
      title:{
        text: 'Employees'
      },
      // tickangle: -45,
      showticklabels: false,
      autorangeoptions:{
        clipmax: 15
      }
    },
    yaxis: {
      title: {
        text: 'Number of Accounts',
      }
    }
  };

  Plotly.newPlot('employeeBarChart', empData, empLayout, {modeBarButtonsToRemove: ['toImage', 'zoom2d', 'select2d', 'lasso2d', 'autoScale2d']});


  document.getElementsByClassName("plot-container")[1].setAttribute("id", "barChart");
  </script>
  {{end page_js}}
 {{pass}}