{{extend 'layout_new.html'}}


  
  <section class="w-75 my-4 mx-auto row d-flex justify-content-around">
    <div class="card col-lg-3 border-info">
      <img class="card-img-top pt-3 detail-image" src="{{=URL('static', 'images/warehouse1.jpeg')}}" alt="warehouse1.jpeg"/>
      <div class="card-body">
        <h3 class="card-title">Warehouse</h3>
        <p class="card-text">Start your career in a safe environment. Making sure all fulfillment requests are met.</p>
      </div>
    </div>

  
    <div class="card col-lg-3 border-info">
      <img class="card-img-top pt-3 detail-image" src="{{=URL('static', 'images/salesman1.jpeg')}}" alt="salesman1.jpeg"/>
      <div class="card-body">
        <h3 class="card-title">Sales</h3>
        <p class="card-text">Our sales team can't be beat. There's no cap on commissions!</p>
      </div>
    </div>

    <div class="card col-lg-3 border-info">
      <img class="card-img-top pt-3 detail-image" src="{{=URL('static', 'images/truck.jpeg')}}" alt="truck.jpeg"/>
      <div class="card-body">
        <h3 class="card-title">Transportation</h3>
        <p class="card-text">Spend time on the road delivering quality products to quality people.</p>
      </div>
    </div>
  </section>





 