{{extend 'layout_new.html'}}
<h2 class="w-75 mx-auto my-3">Sustainability</h2>
<div class="container-fluid w-75 my-4">
  <div
    class="row border-top border-right border-bottom border-info d-flex justify-content-around">
    <div class="col-lg-8 my-auto">
      <p class="px-4 text-justify">Food security is at the heart of our purpose. We tirelessly research
        and develop resilient crops and alternative protein sources to
        sustainably nourish the populace in the midst of scarcity. Through
        responsible land management and localized production, we foster
        self-sufficiency and reduce reliance on unreliable supply chains.

        Waste management is not a luxury; it is a necessity. We strive to
        eliminate waste through comprehensive recycling and upcycling
        programs, utilizing every available resource to its fullest potential.
        Our packaging solutions are designed to minimize environmental impact,
        ensuring that our commitment to sustainability extends from farm to
        table.

        We understand that our responsibility extends beyond our operations.
        We actively engage with local communities, partnering with
        organizations to empower and support initiatives that promote
        sustainable farming, equitable access to food, and resilient
        communities. We prioritize ethical practices, ensuring the fair
        treatment of our employees and the protection of their well-being.</p>
    </div>
    <div class="detail-image col-lg-4 my-auto">
      <img class="img-fluid p-4" src="{{=URL('static/images', 'Cornfield.jpeg')}}"
        alt="Cornfield.jpeg">
    </div>
  </div>
  <div class="row border-info border-left d-flex justify-content-around">
    <div class="col-lg-4 my-auto">
      <img class="detail-image img-fluid p-4"
        src="{{=URL('static/images', 'Plant.jpeg')}}"
        alt="Plant.jpeg">
    </div>
    <div class="col-lg-8 my-auto">
      <p class="mt-2 px-4 text-justify">At PERT, we deeply believe in the power of sustainability. We
        understand that the choices we make today shape the world we'll
        inherit tomorrow. That's why we are committed to integrating
        sustainable practices into every aspect of our operations. From
        sourcing ethically and locally grown ingredients to minimizing waste
        through innovative production methods, sustainability is at the core
        of our business.

        We strive to reduce our environmental footprint by implementing
        energy-efficient technologies, optimizing packaging materials, and
        supporting renewable energy sources. Our commitment extends beyond our
        products to the communities we serve, as we actively engage in
        initiatives that promote environmental education and conservation.</p>
    </div>
  </div>
  <div
    class="row border-top border-right border-info d-flex justify-content-around">
    <div class="col-lg-8 my-auto">
      <p class="px-4 text-justify">At PERT, our mission is to forge a sustainable future in the face of
        adversity. As a dystopian food company, we recognize the urgent need
        to provide nourishment while preserving the fragile resources of our
        desolate world. We are dedicated to pioneering sustainable practices
        that ensure the survival and well-being of both humanity and the
        environment.

        Our commitment to sustainability drives every aspect of our
        operations. We embrace resource efficiency, optimizing the use of
        scarce resources and minimizing waste in our production processes. By
        harnessing innovative technologies, we maximize the yield of our
        limited agricultural spaces, cultivating nutrient-rich food with
        minimal environmental impact.</p>
    </div>
    <div class="col-lg-4 my-auto">
      <img class="detail-image img-fluid p-4"
        src="{{=URL('static/images', 'tomato.jpeg')}}"
        alt="tomato.jpeg">
    </div>
  </div>
</div>
