{{extend 'layout_new.html'}}

<h2 class="w-75 mx-auto my-3">Investors</h2>
<div class="container-fluid w-75 mt-4 mb-4">
  <div class="row border-top border-right border-bottom border-info d-flex justify-content-around">
    <div class="col-lg-8 my-auto">
      <p class="px-4 text-justify">
        As we navigate the challenges of a dystopian world, we invite you to
        join us on a transformative journey as partners in sustainability. At
        PERT, we understand that our success depends not only on financial
        returns but also on the collective efforts to build a resilient and
        sustainable future for all. Investing in our dystopian food company
        means investing in the principles of sustainability, innovation, and
        adaptability. We recognize the urgency of our mission and the critical
        role that investors play in propelling our vision forward. By aligning
        your capital with our purpose, we can collectively make a meaningful
        impact on the future of food.
      </p>
    </div>
    <div class="detail-image col-lg-4 my-auto">
      <img
        class="img-fluid p-4"
        src="{{=URL('static','images/inverstor1.jpeg')}}"
        alt="investor1.jpeg" />
    </div>
  </div>
  <div class="row border-top border-left border-info d-flex justify-content-around">
    <div class="detail-image col-lg-4 my-auto">
      <img
        class="img-fluid p-4"
        src="{{=URL('static','images/investor.jpeg')}}"
        alt="investor.jpeg" />
    </div>
    <div class="col-lg-8 my-auto">
      <p class="px-4 text-justify">
        We recognize that the road ahead may be uncertain, but we are
        committed to transparency and accountability. We will provide regular
        updates on our progress, sharing both triumphs and challenges as we
        navigate this dystopian landscape. We value your input and encourage
        open dialogue, ensuring that our partnership is built on trust and
        shared commitment. In addition to the potential financial returns,
        investing in DystoFoods offers the opportunity to be part of a greater
        narrative—a narrative of hope, resilience, and collective action.
        Together, we can create a future where sustenance, nourishment, and
        sustainability go hand in hand. Join us in investing not only in a
        company but in a vision of a sustainable and thriving world. Together,
        we can overcome the adversities of our dystopian reality and pave the
        way for a brighter future.
      </p>
    </div>
  </div>
</div>
