{{extend 'layout_new.html'}}


  
  <section class="products">
    <div class="product">
      <a href="">
        <img src="../static/images/warehouse1.jpeg" alt="warehouse">
        <h3>Warehouse</h3>
        <p></p>
      </a>
    </div>
  
    <div class="product">
      <a href="">
        <img src="../static/images/salesman1.jpeg" alt="salesman">
        <h3>Sales</h3>
        <p></p>
      </a>
    </div>
  
    <div class="product">
      <a href="">
        <img src="../static/images/truck.jpeg" alt="truck">
        <h3>"Driver/Transportation"</h3>
        <p></p>
      </a>
    </div>
  </section>

 