{{extend 'layout_new.html'}}

<h2 class="w-75 mx-auto mt-2">Meet The Team</h2>

<section class="w-75 my-4 mx-auto row d-flex justify-content-around">
  <!-- Paul -->
  <div class="card col-lg-3 border-info">
    <img class="card-img-top pt-3 detail-image"
      src="{{=URL('static', 'images/pj1.jpg')}}" alt="pj1.jpg" />
    <div class="card-body">
      <h3 class="card-title">Paul</h3>
      <div class="card-text">
        <h4>Favorite item on the menu:</h4> 
        <p>Apocalyptic Angus</p>

        <h4>Contribution:</h4> 
        <p> Generated most of the Data, wrote the
          controllers and model, and wrote all of the custom JS used on the
          site.
          Created several of the .html files to view, create, update, or
          delete the data.
        </p>
      </div>
    </div>
  </div>
  <!-- Russell -->
  <div class="card col-lg-3 border-info">
    <img class="card-img-top pt-3 detail-image"
      src="{{=URL('static', 'images/russell_2.jpg')}}" alt="russell_2.jpg" />
    <div class="card-body">
      <h3 class="card-title">Russell</h3>
      <div class="card-text">
        <h4>Favorite product:</h4>
        <p>Savage Steaks</p>
        <h4>Contribution: </h4>
        <p>Using my knowledge of HTML/CSS I developed and
          styled the About us section,our bio page, profile page for our
          customers,
          and styled the login screen</p>
      </div>
    </div>
  </div>
  <!-- Todd -->
  <div class="card col-lg-3 border-info">
    <img class="card-img-top pt-3 detail-image"
      src="{{=URL('static', 'images/notme.JPEG')}}" alt="notme.JPEG" />
    <div class="card-body">
      <h3 class="card-title">Todd</h3>
      <div class="card-text">
        <h4>Favorite product: </h4>
        <p>3d printed beef</p>
        <h4>Contribution:</h4>
        <p>I am a front end developer </p>
      </div>
    </div>
    </div>
    <!-- Eugene -->
    <div class="card col-lg-3 border-info">
      <img class="card-img-top pt-3 detail-image"
        src="{{=URL('static', 'images/eugene.jpg')}}" alt="eugene.jpg" />
      <div class="card-body">
        <h3 class="card-title">Eugene</h3>
        <div class="card-text">
          <h4>Favorite product: </h4>
          <p>Perfectly Preserved Preserves</p>
          <h4>Contribution: </h4>
          <p>theme and moral support. I am like an
            emotional support animal, except i can also make coffee.</p>
        </div>
      </div>
    </div>

  </section>
