{{extend 'layout_new.html'}}
{{block head}}
    <style>
        body{
            background-color:light grey;
            color:red;
            font-family:Courier New; font-size:15px;
        }
        h1{
            font-family:Copperplate;
            color:red;
        }
    
    </style>
{{end}}

{{if emp_num == "0":}}
<h1>Login error: Please try logging in again</h1>
{{else:}}
<h1><em>Employee: {{=employee_details[0].first_name}} {{=employee_details[0].last_name}}</em></h1>

<!-- <p>{{=today_date}}</p> -->
<!-- <p>This is the employee number: {{=emp_num}}</p> -->
<table class="table table-striped table-hover table-bordered table-sm">
    <tr>
        <h3>Agenda</h3>
    </tr>
    <tr>
        <th class="th-sm">Customer Name</th>
        <th class="th-sm">Date</th>
        <th class="th-sm">Time of Event</th>
        <th class="th-sm">Note</th>
    </tr>
    <tbody>
    {{for x in notes_on_customers:}}
    {{if x[3] >= today_date or x[6] != "complete":}}
    {{if x[0] == emp_num:}}
    {{if x[3] <= today_date:}}
    <tr class="lateEvent">
    {{else:}}
    <tr>
    {{pass}}
        <td><a href="{{=URL('portal_sales_rep','update_note',args=[x[7]])}}">{{=x[1]}} {{=x[2]}}</a></td>
        <td>{{=x[3]}}</td>
        {{if x[4] == "0:00" or x[4] == "00:00:00":}}
        <td>Anytime Today</td>

        {{else:}}
        <td>{{=x[4]}}</td>
        {{pass}}
        <td>{{=x[5]}}</td>
    </tr>
    {{pass}}
    {{pass}}
    {{pass}}
</tbody>
</table>
{{pass}}

{{block page_js}}
<script>
   let lateEventRow = document.getElementsByClassName("lateEvent");
   for (let i = 0; i < lateEventRow.length; i++){
    console.log(lateEventRow[i]);
    lateEventRow[i].children[0].setAttribute("style","background-color: hsl(300, 47%, 85%); color: black;");
    lateEventRow[i].children[1].setAttribute("style","background-color: hsl(300, 47%, 85%); color: black;");
    lateEventRow[i].children[2].setAttribute("style","background-color: hsl(300, 47%, 85%); color: black;");
    lateEventRow[i].children[3].setAttribute("style","background-color: hsl(300, 47%, 85%); color: black;");
   }
</script>
{{end page_js}}
