
{{extend 'layout_new.html'}}
<h1>Customer:&nbsp;{{=person[0].first_name}}&nbsp;{{=person[0].last_name}}</h1>

<table class="table table-striped table-hover table-bordered table-sm">
    <tr>
    <h3>Customer Info</h3>
    </tr>
    <tr>
        <th>Customer Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Work Phone Number</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Contact Type</th>
        <th>Referral Source</th>
        <th>Date Acquired</th>
    </tr>
    {{for x in person:}}
    <tr>
        <td>{{=x.id}}</td>
        <td>{{=x.first_name}}</td>
        <td>{{=x.last_name}}</td>
        <td>{{=x.work_phone_num}}</td>
        <td>{{=x.email}}</td>
        <td>{{=x.birthday}}</td>
        <td>{{=x.contact_type}}</td>
        <td>{{=x.referral_source}}</td>
        <td>{{=x.created_on_date}}</td>
    </tr>
    {{pass}}
    <tr>
        <td><a href="{{=URL('update_customer', args = [person[0].id])}}">Update Customer</a></td>
    </tr>
</table>
<br><br><br>

<table class="table table-striped table-hover table-bordered table-sm">
    <tr>
        <h3>Company Info</h3>
    </tr>
    <tr>
        <th>Company Id</th>
        <th>Company Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>ZIP Code</th>
        <th>SIC Code</th>
        <th>Social Media URL</th>
    </tr>
    {{for x in person_company:}}
    <tr>
        <td>{{=x.companies.id}}</td>
        <td>{{=x.companies.company_name}}</td>
        <td>{{=x.companies.address}}</td>
        <td>{{=x.companies.city}}</td>
        <td>{{=x.states_usa_2.state_abbr}}</td>
        <td>{{=x.companies.zipcode}}</td>
        <td>{{=x.companies.sic_code}}</td>
        <td>{{=x.companies.s_media_link}}</td>
    </tr>
    {{pass}}


    <tr>
        <!-- example below of how to access a value when the row that is returned has a "join" -->
        <!-- you need to have the row[0].table_name.field_name -->
        <td><a href="{{=URL('portal_manager','update_company', args = [person_company[0].companies.id])}}">Update Company</a></td>
    </tr>
</table>
<br><br><br>
<table class="table table-striped table-hover table-bordered table-sm">
    <tr>
        <h3>Notes on Customer</h3>
    </tr>
    <tr>
        <th>Date</th>
        <th>Time of Event</th>
        <th>Contact Note</th>
        <th>Status</th>
    </tr>

    {{ for x in person_notes:}}
    <tr>
        <td><a href="{{=URL('portal_manager','update_note', args = [x.id])}}">{{=x.date_created}}</a></td>
        {{if x.time_of_event.strftime("%H %M") == "00 00":}}
        <td>Anytime Today</td>
        {{else:}}
        <td>{{=x.time_of_event.strftime("%H:%M")}}</td>
        {{pass}}
        <td>{{=x.contact_note}}</td>
        {{if x.status == "complete":}}
        <td>Complete</td>
        {{elif x.status == "incomplete":}}
        <td>Incomplete</td>
        {{else:}}
        <td>Ongoing</td>
        {{pass}}
    </tr>
    {{pass}}
    <tr>
       <td><a href="{{=URL('portal_manager','add_new_note.html', vars=dict(id=person[0].id))}}">Add Note</a></td>
    </tr>
</table>
{{block page_js}}
<script>

</script>
{{end page_js}}