body,
.wrapper {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 0;
}

/*    makes text lighting match theme */
::selection {
  background-color: #17a3b85a;
}

a {
  color:rgb(11, 15, 18);
}

a:hover {
  color: darkcyan;
}

/*    CHANGES BUTTON COLOR FOR SQLFORM.GRID VIEWS */
a.btn.btn-default.btn-secondary, input.btn.btn-default.btn-secondary, input.btn-primary.btn {
  background-color: #17a2b8;
}

/*    Navbar Styling     */
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.home-button {
  text-shadow: 2px 2px 2px #2ddcf7;
}

#theVaultDropdown {
  width: 16rem;
}

/*    .content-container IS THE DIV FOR ALL OF THE VIEWS     */
.content-container {
  min-height: 71.05vh;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

/*    STYLING FOR HOMEPAGE */

.carousel-item img {
  max-height: 40rem;
  border-radius: 10px;
}

div.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 10px;
}

/*    STYLING FOR HOMEPAGE IF YOU ARE AN EMPLOYEE    */
header.dashboardHeader {
  transform: translateY(-1.5rem);
  width: 100%;
  /* margin-left: -1.5rem; */
  text-shadow: 0 0 1px darkcyan;
}

#companyLogo {
  border-radius: 2rem;
}

figure {
  margin-bottom: 0;
}

#barChart {
  margin: auto;
  width: 500px;
}


/* STYLING FOR BUSINESS INFO PAGES */
/* AND */
/* STYLING FOR CAREERS PAGE */
.detail-image {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/*    CUSTOM SQLFORM.GRID STYLES     */
.grid-section {
  margin-bottom: 1.5rem;
}

/*    tables with a lot of fields become more responsive    */
.tableDiv {
  overflow-x: auto;
}

/*    changes checkbox color match theme */
input[type="checkbox" i] {
  accent-color: #17a2b8;
}

/*    PRODUCT PAGE     */
.product-price {
  font-size: 3rem;
}
.product-detail {
  font-size: 1.5rem;
}


/*     FOOTER      */
.footer-content {
  font-size: 0.9rem;
}

.footer-content.smaller-text {
  margin-bottom: 0;
  font-size: 0.7rem;
}


