body,
.wrapper {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 0;
}

a {
  color:rgb(11, 15, 18);
}

a:hover {
  color: darkcyan;
}

/*    CHANGES BUTTON COLOR FOR SQLFORM.GRID VIEWS */
a.btn.btn-default.btn-secondary, input.btn.btn-default.btn-secondary, input.btn-primary.btn {
  background-color: #17a2b8;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

#theVaultDropdown {
  width: 16rem;
}

/*    .content-container IS THE DIV FOR ALL OF THE VIEWS     */
.content-container {
  min-height: 71.05vh;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.carousel-item img {
  max-height: 40rem;
  border-radius: 10px;
}

div.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 10px;
}

/* STYLING FOR BUSINESS INFO PAGES */
/* AND */
/* STYLING FOR CAREERS PAGE */
.detail-image {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/*    CUSTOM SQLFORM.GRID STYLES     */
.grid-section {
  margin-bottom: 1.5rem;
}

/*    tables with a lot of fields become more responsive    */
.tableDiv {
  overflow-x: auto;
}

/*     FOOTER      */
.footer-content {
  font-size: 0.9rem;
}


