{{extend 'layout.html'}}
<h1>This is the portal_sales_rep/add_customer_or_company.html template</h1>
<h3>Customer Form</h3>
{{=customer_form}}
{{=company_form}}
<br><br>
<a href="{{=URL('index')}}">Vault Door</a>
<br><br>


{{block page_js}}
<script>
    //change the field name of Co Id 
    document.getElementById("persons_co_id__label").innerHTML = "Company Name";
    //change the label name of work phone num
    document.getElementById("persons_work_phone_num__label").innerHTML = "Work Phone Number";

    let divCompany = document.createElement("div");
    divCompany.setAttribute("id", "divCompany");
    let divPlacement = document.getElementById("persons_co_id__row");
    divPlacement.appendChild(divCompany);
    let eleDivCompany = document.getElementById("divCompany");
    //create checkbox to expose company form
    let labelAddCompany = document.createElement("label");
    labelAddCompany.setAttribute("id", "labelAddCompany");
    labelAddCompany.setAttribute("for", "addCompany");
    labelAddCompany.innerHTML = 'Add Company:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="addCompany" id="addCompany" onchange="exposeCompanyForm()">';
    eleDivCompany.appendChild(labelAddCompany);
    

    let formCompany = document.forms[2];
    formCompany.setAttribute("id","formCompany");
    let eleFormCompany = document.getElementById("formCompany");
    eleFormCompany.setAttribute("style","display:none");
    
    
    
    eleDivCompany.appendChild(eleFormCompany);

    //sets the value of Employee Id to whoever is logged in and disables the field
    document.getElementById("persons_employee_id").disabled = "True";
    document.getElementById("persons_employee_id").value = {{=str(session.auth.user.id)}};
    //sets the value of Created On Date to today's date
    let todayDate = new Date();
    theDay = todayDate.getDate();
    if (theDay <= 9){
        theDay = "0" + theDay;
        console.log(theDay);
    }
    theMonth = todayDate.getMonth() + 1;
    if (theMonth <= 9){
        theMonth = "0" + theMonth;
        console.log(theMonth);
    }
    theYear = todayDate.getFullYear();
    document.getElementById("persons_created_on_date").value = `${theYear}-${theMonth}-${theDay}`;

    //this exposes and hides the company form
    function exposeCompanyForm(){
        console.log("heard");
        if (eleFormCompany.getAttribute("style") == "display:none"){
            eleFormCompany.setAttribute("style","display:block");  
        } else{
            eleFormCompany.setAttribute("style", "display:none");
        }
    }
</script>
{{end page_js}}