{{extend 'layout_new.html'}}
{{block head}}
    <style>
        body{
            background-color:light grey;
            color:red;
            font-family:Courier New; font-size:15px;
        }
        h1{
            font-family:Copperplate;
            color:red;
        }
    
    </style>
{{end}}
    
</body>
<h1><em>Sales Rep</em></h1>

{{=company_form}}

{{block page_js}}
<script>
    document.getElementById("companies_s_media_link__label").innerHTML = "Main Website URL";

</script>
{{end page_js}}
</body>
