{{extend 'layout_new.html'}}
{{block head}}
    <style>
        h1{
            color:red;
            font-family:Copperplate;
        }
        body{
            background-color:light grey;
            color:red;
        }
    </style>
{{end}}


<h1><em>Add a Note</em></h1>
{{=BEAUTIFY(note_form)}}
<br><br>
<a href="{{=URL('index')}}">Vault Door</a>


{{block page_js}}
<script>

    //changes who is visible in the customer dropdown
    customerList = {{=list_customer_ids}};
    optionsArray = document.getElementById("contact_notes_person_id").options
    for (i = 1; i < optionsArray.length; i++){
        if (customerList.indexOf(parseInt(optionsArray[i].value), 0) !== -1){
            continue;
        } else {
            optionsArray[i].setAttribute("style","display:none")
        }
    };
    //sets the value of Employee Id to whoever is logged in and disables the field
    document.getElementById("contact_notes_emp_id__label").innerHTML = "Employee Name";
    let empId = document.getElementById("contact_notes_emp_id");
    empId.disabled = "True";
    empId.value = {{=str(session.auth.user.id)}};

    //changes labl of person id
    document.getElementById("contact_notes_person_id__label").innerHTML = "Customer Name";

    //changes label of contact note
    document.getElementById("contact_notes_contact_note__label").innerHTML = "Note";

    //sets the value of Created On Date to today's date
    let todayDate = new Date();
    theDay = todayDate.getDate();
    if (theDay <= 9){
        theDay = "0" + theDay;
    }
    theMonth = todayDate.getMonth() + 1;
    if (theMonth <= 9){
        theMonth = "0" + theMonth;
    }
    theYear = todayDate.getFullYear();
    document.getElementById("contact_notes_date_created").value = `${theYear}-${theMonth}-${theDay}`;
</script>
{{end page_js}}

