{{extend 'layout.html'}}
<h1>This is the portal_dbadmin/employees.html template</h1>
<p><a href="{{=URL('portal_dbadmin', 'index.html')}}">Home</a></p>
<p><a href="{{=URL('portal_dbadmin', 'employees.html')}}">Employees</a></p>
<p><a href="{{=URL('portal_dbadmin', 'employees_group.html')}}">Employee Groups</a></p>
<p><a href="{{=URL('portal_dbadmin', 'employees_membership.html')}}">Employee Group Membership</a></p>
<p><a href="{{=URL('portal_dbadmin', 'customers.html')}}">Customers</a></p>
<p><a href="{{=URL('portal_dbadmin', 'companies.html')}}">Companies</a></p>
<p><a href="{{=URL('portal_dbadmin', 'contact_notes.html')}}">Contact Notes</a></p>
<p><a href="{{=URL('portal_dbadmin', 'catalog.html')}}">Catalog</a></p>
<p><a href="{{=URL('portal_dbadmin', 'sic_codes.html')}}">SIC Codes</a></p>
<p><a href="{{=URL('portal_dbadmin', 'states_usa.html')}}">USA States</a></p>

<br><br><br>



